.EditProfileMw {
  display: flex;
  flex-direction: column;
  width: 384px;
  min-height: 498px;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 2px rgba(34, 60, 80, 0.2);
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 48px 33px;
  margin-top: 59px;
  background-color: #fff;
}

.edit-profile-header {
  text-align: center;
  font-weight: 600;
}

.username-label,
.email-address-label,
.password-label,
.avatar-image-label {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  font-size: 14px;
}

.username-input,
.email-address-input,
.password-input,
.avatar-image-input {
  margin-top: 5px;
  padding-left: 10px;
  width: 320px;
  height: 40px;
  font-size: 16px;
}

.wrong-pass {
  color: #f5222d;
  font-size: small;
}

.save-button {
  margin-top: 21px;
  margin-bottom: 8px;
  border-radius: 4px;
  width: 319px;
  height: 40px;
}
