.blog-pagination {
  margin-top: 27px;
  margin-bottom: 18px;

  :global .ant-pagination-item-active {
    background-color: #1890ff;
    border-radius: 4px;
    a {
      color: #fff;
    }
    a:hover {
      color: #000;
    }
  }
}
